<a href="https://colab.research.google.com/github/darin277117/Coding-Study-from-11-2021/blob/main/3%EC%9E%A5_%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = "Life is too short, you need python"

if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

shirt

In [ ]:
num = 0
sum = 0
while True:
  num = num +1
  if num%3 == 0 :
    sum = sum + num
  if num == 1000 :
    break
print(sum)

166833

In [ ]:
num = 0
while num <5 :
  for i in range(5):
    if i <=num : 
      print("*",end="")
    else:
      print(end="")
  print('')
  num +=1

*
**
***
****
*****

In [ ]:

for a in range(1,101) : 
  print(a, end = " ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [ ]:
sum = 0
score = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
for a in score:
  sum = sum + a 
average = sum/(len(score))
print(average)

79.0

In [ ]:
#numbers = [1, 2, 3, 4, 5]
#result = []
#for n in numbers:
#   if n % 2 == 1:
#        result.append(n*2)
numbers = [1, 2, 3, 4, 5]
result = [num * 2 for num in numbers if num%2 == 1]
print(result)

[2, 6, 10]