<a href="https://colab.research.google.com/github/darin277117/Coding-Study-from-11-2021/blob/hoewonjjang/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Chapter 2

In [ ]:
#1번 홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자.
#과목	점수 국어	80 영어	75 수학	55
a = 80
b = 75
c = 55
print((a+b+c)/3)

70.0

In [ ]:
#2번 자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.
a= 13
if a/2 == 1:
  print("홀수")

In [ ]:
#3번 홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.
a= "881120-1068234"
date = a[0:6]
etc = a[7:]
print(date)
print(etc)

881120
1068234

In [ ]:
#4번 주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.
pin = "881120-1068234"
se = pin[7]
print(se)

1

In [ ]:
#5번 다음과 같은 문자열 a:b:c:d가 있다. 
#문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.
a= "a:b:c:d"
print(a.replace(':','#'))

a#b#c#d

In [ ]:
#6번 [1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.
a= [1,3,5,4,2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [ ]:
#7번 ['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해 보자
a= ['Life','is','too','short']
print(a.pop())
print(a.pop())
print(a.pop())
print(a.pop())

short
too
is
Life

In [ ]:
#7번 해설
a = ['Life', 'is', 'too', 'short']
result = " ".join(a)
print(result)

Life is too short

In [ ]:
#8번 (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.
s1 = set([1,2,3])
s1.add(4)
t1 = tuple(s1)
print(t1)

(1, 2, 3, 4)

In [ ]:
a = dict()
print(a)
a['name'] = 'python'
print(a)
a[('a',)] = 'python'
print(a)
a[[1]] = 'python'
print(a)
a[250] = 'python'
print(a)

{}
{'name': 'python'}
{'name': 'python', ('a',): 'python'}

TypeError: ignored

In [ ]:
#10번 딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.
a = {'A':90, 'B':80, 'C':70}
print(a.get('B'))

80

In [ ]:
#11번 a 리스트에서 중복 숫자를 제거해 보자.
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
a.remove(1)
a.remove(1)
a.remove(2)
a.remove(3)
a.remove(3)
a.remove(4)
print(a)

[1, 2, 3, 4, 5]

In [ ]:
#12번 파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 
#다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 
#b 값은 어떻게 될까? 그리고 이런 결과가 오는 이유에 대해 설명해 보자.

a = b = [1, 2, 3]
a[1] = 4
print(b)

[1, 4, 3]

3장

In [ ]:
#1번 shirt

In [ ]:
#2번 
number = 0
while a <1000:
  number = number + 1
  if number/3 ==0:
    print(a)

In [ ]:
result = 0
i = 1
while i <= 1000:
    if i % 3 == 0: 
        result += i
    i += 1

print(result)

KeyboardInterrupt: ignored

In [ ]:
#3번 while문을 사용하여 다음과 같이 별(*)을 표시하는 프로그램을 작성해 보자.
a= 0
while a < 5:
  print()

In [ ]:
a=0
while True:
  a += 1
  if a>5:break
  print('*'*a)

*
**
***
****
*****

In [ ]:
#4번for문을 사용해 1부터 100까지의 숫자를 출력해 보자.
a = range(1,101)
for i in a:
  print(i)

In [ ]:
#5번 A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.
#for문을 사용하여 A 학급의 평균 점수를 구해 보자.

a = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0
for score in a:
  total += score

average = total/len(a)
print(average)

79.0

In [ ]:
#6번
numbers=[1,2,3,4,5]
result = [n*2 for n in numbers if n%2 ==1]
result.append
print(result)

[2, 6, 10]

4장

In [8]:
def is_odd(number):
  if number %2 == 1:
    return True
  else:
    return False
print(is_odd(3))

True

In [6]:
#2번입력으로 들어오는 모든 수의 평균 값을 계산해 주는 함수를 작성해 보자. 
#(단 입력으로 들어오는 수의 개수는 정해져 있지 않다.)
def a(*args):
  result = 0
  for i in args:
    result += i
    return result/len(args)
result = a(1,2,3)
print(result)

0.3333333333333333

In [4]:
input1 = input("첫번째 숫자를 입력하세요:")
input2 = input("두번째 숫자를 입력하세요:")

total = int(input1) + int(input2)
print("두 수의 합은 %s 입니다" % total)

첫번째 숫자를 입력하세요:3
두번째 숫자를 입력하세요:6
두 수의 합은 9 입니다

In [9]:
print("".join(["you", "need", "python"]))

youneedpython