<a href="https://colab.research.google.com/github/darin277117/Coding-Study-from-11-2021/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Chapter 2

In [3]:
#1번 홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자.
#과목	점수 국어	80 영어	75 수학	55
a = 80
b = 75
c = 55
print((a+b+c)/3)

70.0

In [11]:
#2번 자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.
a= 13
if a/2 == 1:
  print("홀수")

In [13]:
#3번 홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.
a= "881120-1068234"
date = a[0:6]
etc = a[7:]
print(date)
print(etc)

881120
1068234

In [17]:
#4번 주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.
pin = "881120-1068234"
se = pin[7]
print(se)

1

In [19]:
#5번 다음과 같은 문자열 a:b:c:d가 있다. 
#문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.
a= "a:b:c:d"
print(a.replace(':','#'))

a#b#c#d

In [22]:
#6번 [1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.
a= [1,3,5,4,2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [26]:
#7번 ['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해 보자
a= ['Life','is','too','short']
print(a.pop())
print(a.pop())
print(a.pop())
print(a.pop())

short
too
is
Life

In [44]:
#7번 해설
a = ['Life', 'is', 'too', 'short']
result = " ".join(a)
print(result)

Life is too short

In [29]:
#8번 (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.
s1 = set([1,2,3])
s1.add(4)
t1 = tuple(s1)
print(t1)

(1, 2, 3, 4)

In [35]:
a = dict()
print(a)
a['name'] = 'python'
print(a)
a[('a',)] = 'python'
print(a)
a[[1]] = 'python'
print(a)
a[250] = 'python'
print(a)

{}
{'name': 'python'}
{'name': 'python', ('a',): 'python'}

TypeError: ignored

In [36]:
#10번 딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.
a = {'A':90, 'B':80, 'C':70}
print(a.get('B'))

80

In [40]:
#11번 a 리스트에서 중복 숫자를 제거해 보자.
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
a.remove(1)
a.remove(1)
a.remove(2)
a.remove(3)
a.remove(3)
a.remove(4)
print(a)

[1, 2, 3, 4, 5]

In [41]:
#12번 파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 
#다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 
#b 값은 어떻게 될까? 그리고 이런 결과가 오는 이유에 대해 설명해 보자.

a = b = [1, 2, 3]
a[1] = 4
print(b)

[1, 4, 3]